.intro {
  margin-top: 1.5rem;
}
.intro .img-wrapper {
  width: 100%;
}
.intro img {
  width: 100%;
  height: 100%;
}

.intro .details {
  margin-top: 3rem;
}

@media (min-width: 576px) {
  .intro {
    margin-top: 5rem;
  }
}
