.sidenav {
  margin-top: 15%;
  padding: 1.5rem;
  text-align: center;
}

.user-info {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 10px 0;
}
.sidenav .user-img {
  width: 140px;
  height: 140px;
  margin: 0 auto;
}

.user-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.sidenav ul {
  list-style: none;
  padding: 0;
}
.sidenav li a {
  text-decoration: none;
  color: #363333;
  font-weight: 500;
  display: block;
  padding: 0.8rem;
}
.sidenav li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
