.recentWork {
  margin: 3rem 2.2rem 0.5rem 2.2rem;
}
.recentWork h6 {
  border-bottom: 2px solid #28b463;
  padding: 5px 0;
  display: inline-block;
  margin: 1rem 0;
}
.recentWork .gridLayout {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
}
.gridLayout .img-wrapper {
  overflow: hidden;
  max-height: 350px;
}
.gridLayout img {
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}
.gridLayout .img-wrapper:hover img {
  transform: scale(1.3) rotate(5deg);
}
@media (max-width: 576px) {
  .recentWork {
    margin: 0;
  }
  .recentWork .gridLayout {
    grid-template-columns: 1fr;
  }
}
